---
layout: default
---
  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <div class="improve right hide-on-mobiles">
            <a data-proofer-ignore href="https://github.com/ysh825/ysh825.github.io/edit/master/{{ page.path }}"><i class="fa fa-pencil"></i> &nbsp;改善本页</a>
          </div>
          <h1>Step by Step 教程</h1>
          <h2>{{ page.position }}. {{ page.title }}</h2>
          {{ content }}
          {% include step-index.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
